@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.top-nav {
  height: 24px;
  background-color: #494848;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.space {
  padding: 0 6.5%;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  font-size: 12px;
}

.main-nav {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #f8f8ff;
}

.head-logo {
  text-decoration: none;
  align-items: flex-end;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

.head-logo .svg-logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo {
  height: 100%;
  width: 9.3rem;
}

.left-main-nav a {
  text-decoration: none;
  color: rgb(74, 72, 72);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 0 10px;
}

a.active {
  color: #ec5242;
}

.camp-btn {
  border: 2px solid #ec5242;
  padding: 5px;
  color: #272a31;
}

.main-background {
  background-image: url(images/1.jpg);

  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px; */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 90vh;
  opacity: 0.9;
}

.over-title {
  padding-top: 100px;
  color: #ec5242;
}

.program-cont {
  background-color: #272a31;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-bars {
  font-size: 16px;
  font-weight: 600;
}

.nav-toggle a {
  color: #272a31;
  vertical-align: middle;
  display: none;
}

@media only screen and (max-width: 992px) {
  .top-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-toggle a {
    color: #272a31;
    vertical-align: middle;
    display: flex;
  }

  .left-main-nav {
    display: none;
  }

  .main-nav {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

/* @media only screen and (max-width: 576px) {

} */

@media only screen and (max-width: 400px) {
  .main-nav {
    justify-content: space-between;
    flex-direction: row;
  }

  .head-logo {
    display: none;
  }
}

.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent white;
  border: 1px solid white;
}

.programs-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.page-margin {
  margin-left: 30px;
  margin-right: 30px;
}

.program-title {
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .programs-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .programs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .programs-container {
    grid-template-columns: 1fr;
  }

  .prog-icon {
    margin-right: 20px;
    margin-left: 15px;
  }

  .programs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.speakers-conts {
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 30px;
}

.speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.speaker-desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 17px;
}

@media only screen and (max-width: 768px) {
  .speakers-container {
    grid-template-columns: 1fr;
  }
}

.partners-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #272a31;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}