@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 900;
}

.top-nav {
  height: 24px;
  background-color: #494848;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.space {
  padding: 0 6.5%;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  font-size: 12px;
}

.main-nav {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #f8f8ff;
}

.head-logo {
  text-decoration: none;
  align-items: flex-end;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

.head-logo .svg-logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo {
  height: 100%;
  width: 9.3rem;
}

.left-main-nav a {
  text-decoration: none;
  color: rgb(74, 72, 72);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 0 10px;
}

a.active {
  color: #ec5242;
}

.camp-btn {
  border: 2px solid #ec5242;
  padding: 5px;
  color: #272a31;
}

.main-background {
  background-image: url(images/1.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  opacity: 0.9;
}

.over-title {
  padding-top: 90px;
  color: #ec5242;
  height: 10vw;
}

.program-cont {
  background-color: #272a31;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-bars {
  font-size: 16px;
  font-weight: 600;
}

.nav-toggle a {
  color: #272a31;
  vertical-align: middle;
  display: none;
}

@media only screen and (max-width: 992px) {
  .top-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-toggle a {
    color: #272a31;
    vertical-align: middle;
    display: flex;
  }

  .left-main-nav {
    display: none;
  }

  .main-nav {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

/* @media only screen and (max-width: 576px) {

} */

@media only screen and (max-width: 400px) {
  .main-nav {
    justify-content: space-between;
    flex-direction: row;
  }

  .head-logo {
    display: none;
  }
}

.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.programs:hover {
  border: 2px solid white;
}

.programs-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.page-margin {
  margin-left: 30px;
  margin-right: 30px;
}

.program-title {
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .programs-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .programs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .programs-container {
    grid-template-columns: 1fr;
  }

  .prog-icon {
    margin-right: 20px;
    margin-left: 15px;
  }

  .programs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.speakers-conts {
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 30px;
}

.speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.speaker-desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 17px;
}

@media only screen and (max-width: 768px) {
  .speakers-container {
    grid-template-columns: 1fr;
  }
}

.partners-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #272a31;
  text-align: center;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.partners-logo {
  max-width: 160px;
  max-height: 65px;
}

@media only screen and (max-width: 992px) {
  .partners-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}

.speak-img {
  max-width: 150px;
  height: 150px;
}

.speak-hr {
  width: 32px;
  border: 2px solid #272a31;
  margin-top: 11px;
  margin-bottom: 10px;
}

.title-hr {
  width: 35px;
  border: 2px solid #ec5242;
}

.below-tag {
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

.below-tag a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 15px;
}

h4 {
  font-weight: bold;
}

.small-desc {
  color: #ec5242;
}

.svg-lo2 {
  height: 100%;
  width: 22rem;
  text-align: center;
  margin: 30px 0;
}

.prog-icon {
  margin-top: 15px;
  margin-bottom: 15px;
}

.prog-details p{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.over-back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.over-title h1 {
  font-size: 4vw;
}

.over-title h2 {
  font-weight: 900;
  font-size: 5vw;
  line-height: 0.9em;
}

.over-back p {
  font-size: 2vw;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: flex-start;
}

.over-title p {
  font-size: 2.5vw;
  font-weight: bold;
  align-items: flex-start;
}


@media only screen and (max-width: 400px) {
  .over-title h1 {
    font-size: 5vw;
  }

  .over-title h2 {
    font-size: 7vw;
  }

  .over-back p {
    font-size: 4vw;
  }

  .over-title p {
    font-size: 6vw;
  }
}


@media only screen and (max-width: 768px) {
  .partners-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 576px) {
  .partners-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 400px) {
  .partners-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  footer {
    display: none;
  }

  .load-more {
    background-color: #fff;
    height: 25vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .more {
    background-color: white;
    height: 44px;
    width: 80vw;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .partners-cont {
    display: none;
  }

  .speaker {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.text-copy {
  margin: 30px 0;
  font-weight: bold;
}

.load-more {
  display: none;
}

@media only screen and (max-width: 200px) {
  .programs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.about-first {
  background-color: #d3d3d3;
  height: 100%;
}

.whole-about {
  padding: 70px;
}